<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Postback</th>
    <th>Awskey</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>



<% @articles.each do |article| %>

</table>

<br />
	<!-- The jPlayer div must not be hidden. Keep it at the root of the body element to avoid any such problems. -->
	<div id="jquery_jplayer_<%= article.id %>" class="cp-jplayer"></div>

	<div class="prototype-wrapper"> <!-- A wrapper to emulate use in a webpage and center align -->
		<!-- The container for the interface can go where you want to display it. Show and hide it as you need. -->
		<ul>
		    <li class="article">
		        <div class="mp3">
		        <div id="cp_container_<%= article.id %>" class="cp-container">
		            <div class="cp-buffer-holder"> <!-- .cp-gt50 only needed when buffer is > than 50% -->
		                <div class="cp-buffer-1"></div>
		                <div class="cp-buffer-2"></div>
		            </div>
		            <div class="cp-progress-holder"> <!-- .cp-gt50 only needed when progress is > than 50% -->
		                <div class="cp-progress-1"></div>
		                <div class="cp-progress-2"></div>
		            </div>
		            <div class="cp-circle-control"></div>
		            <ul class="cp-controls">
		                <li><a href="#" class="cp-play" tabindex="1">play</a></li>
		                <li><a href="#" class="cp-pause" style="display:none;" tabindex="1">pause</a></li> 
		            </ul>
		        </div></div>
        
		        <div class="article-info">
		        <h1><a href="<%= article.postback %>"><%= article.title %></a></h1>
					<span class="points"><%= article.points %> points</span> &#8226; <span class="url">(<%= article.postback %>)</span>
		        </div>
		    </li>
		</ul>
		
		<script type="text/javascript">
			$(document).ready(function(){

				/*
				 * Instance CirclePlayer inside jQuery doc ready
				 *
				 * CirclePlayer(jPlayerSelector, media, options)
				 *   jPlayerSelector: String - The css selector of the jPlayer div.
				 *   media: Object - The media object used in jPlayer("setMedia",media).
				 *   options: Object - The jPlayer options.
				 *
				 * Multiple instances must set the cssSelectorAncestor in the jPlayer options. Defaults to "#cp_container_1" in CirclePlayer.
				 */

				var player<%= article.id %> = new CirclePlayer("#jquery_jplayer_<%= article.id %>",
				{
					m4a: "<%= article.filepath %>"
				}, {
					cssSelectorAncestor: "#cp_container_<%= article.id %>"
				});
			});
		</script>
		
		
		
		
		<% end %>   	
	</div>
	
<%= link_to 'New Article', new_article_path %>	




















